<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Telly Critic</h1>

    <a href="/critiques/new"><button>Add New Product</button></a>

    <div class="container">
      <ul>
        <% for( let index = 0; index < critique.length; index++ ) { %>
        <li>
          <a href="/critique/<%=critique[index].id; %>">
            <%=critique[index].title; %><br />
          </a>
          Rating: <%=critique[index].rating; %> <% if(critique[index].hasWatched
          === true){ %> <% } else { %> <% } %>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
