<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <div class="container">
    <h1>A New Critique</h1>
    <form action="/critiques" method="POST">
      <div class="form-group">
        <label for="title">Title</label><br />
        <input type="text" class="form-control" id="title" name="title" /><br />
      </div>
      <div class="form-group">
        <label for="img">Cover</label><br />
        <input type="text" class="form-control" id ="img" name="img" class="rounded" /><br />
      </div>
      <div class="form-group">
        <label for="rating">Rating</label><br />
        <input type="number" class="form-control" id="rating"name="rating" min="0" max="5" /><br />
      </div>
      <div class="form-group">
        <label for="entry">Review</label><br />
        <input type="text" class="form-control" id="entry" name="entry" /><br /><br />
      </div>
      <button type="submit" name="" value="Add Critique" class="btn btn-primary">Add Critique</button>
    </form>
  </div>
 
      <%- include ('../partials/script.ejs') %>

  </body>
</html>

