<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>A New Critique</h1>
    <form action="/critiques" method="POST">
      <label for="title">Title</label><br />
      <input type="text" id="title"name="title" /><br />
      <label for="img">Cover</label><br />
      <input type="text" id ="img" name="img" /><br />
      <label for="rating">Rating</label><br />
      <input type="number" id="rating"name="rating" min="0" max="5" /><br />
      
      <label for="entry">Review</label><br />
      <input type="text" id="entry" name="entry" /><br /><br />
   
      <input type="submit" name="" value="Add Critique " />
    </form>
  </body>
</html>

