<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>A New Critique</h1>
    <form action="/critiques/" method="POST">
      <input type="text" name="title" /><br />
      <input type="number" name="rating" /><br />
      <input type="image" name="image" />
      <input type="checkbox" name="hasWatched" />
      <input type="submit" name="" value="Add Critique " />
    </form>
  </body>
</html>
