<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>A Critique</h1>
    <a href="/critiques"><button>Back</button></a>

    <div class="container">
      <h5><%= critique.title %></h5>
      <br />
    </div>
  </body>
</html>
