<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
      <title>A Critique</title>
    </head>
    <body>
      <div class="container">
  

       
      </div>
    </body>
  </html>