<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../../partials/head.ejs') %>
  <title></title>
</head>
<body>
  <!-- login page -->
  <div class="container">
    <form action="/sessions" method="POST">
      <h2>TellyCritic</h2><br />
      <h4>Sign In</h4><br />
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username"/><br />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"id="password" name="password"/><br />
      <div class="message"></div>
      </div>
      <button type="submit" name="" value="Sign-In" class="btn btn-primary">Sign In</button>    
      <!-- sign-up -->
      <a href="../users/new">
        <button type="button" class="btn btn-link">Sign Up</button>
      </a>
    </form>

  </div>
  <!-- bootstrap -->
  <%- include ('../../partials/script.ejs') %>
</body>
</html>